<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Word</title>
	<meta http-equiv="Content-Type" content="text/HTML; charset=UTF-8" />
	<%= csrf_meta_tag %>
	<%= javascript_include_tag "http://www.google.com/jsapi" %>
	<script type="text/javascript"> google.load("jquery", "1.4.2"); </script>
	<%=javascript_include_tag "../jqtouch-b3.1-0/jqtouch/jqtouch.js" %>
	<%=stylesheet_link_tag "../jqtouch-b3.1-0/jqtouch/jqtouch.css" %>
	<%=stylesheet_link_tag "../jqtouch-b3.1-0/themes/jqt/theme.css" %>

	<script language="javascript" >
		$.jQTouch({
		icon: 'jqtouch.png',
		statusBar: 'black-translucent',
		});

	</script>
	<meta name="google-site-verification" content="MhUQZrKzb3ZdaT3-Wxn8NmUw0fG_YXzmeAhoxnbarw8" />

	<script type="text/javascript">
		var admob_vars = {
		 pubid: 'a14e36f35b5d1f9', // publisher id
		 bgcolor: '000000', // background color (hex)
		 text: 'FFFFFF', // font-color (hex)
		 test: false // test mode, set to false to receive live ads
		};
	</script>

</head>

<body>
	<div id="jqt" class="portrait">
	<form action="/" method="post" >
	<div id="home" class="current">
		<div class="toolbar">
			<h1>Word</h1>
			<a class="button slideup" id="infoButton" href="#about">About</a>
		</div>
		<ul class="rounded">
			<li class=""><span class="white" >Lookup:</li>
            <li class=""><input class="white" type="search" name="query" value="<%=@query%>" length="20"/></li>
            <li class=""><input type="Submit" name="" value="Search" onClick="this.form.submit()" /></li>
		<% if( !@query.nil? && !@query.empty?) %>
			<li class="" ><span class="<%if( @resultWS == true )%> green <%else%> red<% end %>" >Wordsmith</span></li>
			<li class="" ><span class="<%if( @resultWWF == true )%> green <%else%> red<% end %>" >Words With Friends</li>
		<% end%>
			
		</ul>
		
	</div>
	</form>
	</div>
	<div class="current" >
		<script type="text/javascript" src="http://mmv.admob.com/static/iphone/iadmob.js"></script>
	</div>
</body>
</html>
