<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @dictionary.word %>
</p>

<p>
  <b>Result:</b>
  <%= @dictionary.result %>
</p>


<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
